<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
{% load static %}

  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Об авторе
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  О себе любимом
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">
                  <div class="card-text">
                      <p><h3>Глухов Павел</h3></p>
                      <p>Вот я и добрался до своей же страницы.
                      Пусть был долгий, а сколько ещё стоит пройти...
                      Здесь могло быть много информации обо мне, но я стесняюсь</p>

                      <p>Работаю в IT и стыдно признаться,
                          но я не сталкивался с разработкой, по этому я и здесь</p>

                      <p>мой GitHub аккаунт: <a href="https://github.com/PGluk/">Щелкни на меня, ты сможешь...</a></p>
                      <p>А если любишь котив, то держи моего:</p>
                      <img src="{% static "about/images/cat.jpg" %}" alt="Тут мой котик">

                  </div>
              </div>
          </div>
      </div>
  </main>
{% endblock %}