<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}О технологиях{% endblock %}
{% block header %}О технологиях{% endblock %}
{% block content %}
{% load user_filters %}
{% load static %}
  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">

          </div>
          <!-- Тело страницы -->
          <div class="col-md-12 border">
              <div class="card-body">
                  <div class="card-text">
                      <p>А здесь о технологиях. </p>
                      <img src="{% static "about/images/djanga.jpg" %}" alt="это djanga">
                  </div>
              </div>
          </div>
      </div>
  </main>
{% endblock %}