{% extends 'base.html' %}
{% block title %} Страница пользователя
    {{ author.get_full_name }} {% endblock %}
{% block header %} Страница пользователя {% endblock %}
{% block content %}
    {% load thumbnail %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                {% include "posts/post_profile_card.html" %}
            </div>
            <div class="col-md-8">
                {% for post in page %}
                    {% include "posts/post_item.html" with post=post %}
                {% endfor %}
                {% include "paginator.html" %}
            </div>
        </div>
    </main>
{% endblock %}